@page "/ipaddress"
@inject HttpClient Http
@inject TodoUiState TodoState

<PageTitle>IP Address</PageTitle>

<h1>IP Address Getter</h1>

<ul>
    <li>
        <input @bind="ip.IP" />
    </li>
</ul>

<button @onclick="AddTodo">Get My IP Address</button>

@code {
    //IPAddressItem ip => TodoState.ipaddress;
    IPAddressItem ip = new();

    private async Task AddTodo()
    {
        Uri uri = new Uri("http://ip.jsontest.com/");
        ip =  await Http.GetFromJsonAsync<IPAddressItem>(uri);

        if( ip is not null ) {
            TodoState.ipaddress = ip;
        }
    }
}