@page "/ipaddress"
@inject HttpClient Http
@inject UiState StateMgmt

<PageTitle>IP Address</PageTitle>

<h1>IP Address Getter</h1>

<ul>
    <li>
        <input @bind="ip.address" />
    </li>
</ul>

<button @onclick="GetIpAddress">Get My IP Address</button>

@code {
    IPAddressItem ip = new();

    private async Task GetIpAddress()
    {
        Uri uri = new Uri("http://ip.jsontest.com/");
        ip = await Http.GetFromJsonAsync<IPAddressItem>(uri);

        if( ip is not null ) {
            StateMgmt.ipaddress = ip;
        }
    }
}